/* Global */
.root {
    -fx-background-color: #ffffff; 
    -fx-font-family: Arial;
}

.button:hover{
	-fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
    -fx-cursor: hand;
}


.list-cell {
    -fx-background-color: transparent;
}

.combo-box {
	-fx-background-color: transparent;
	-fx-border-color: #AEAEAE; 
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

/* Specific */

.list-labels {
    -fx-font-weight: bold;
}

.ratingButtons {
	-fx-background-color: transparent;
	-fx-padding: 0; 
    -fx-margin: 0;
}

#clearFiltersBtn{
	-fx-background-color: transparent;
	-fx-cursor: hand;
}

#listView .list-cell:hover {
	-fx-background-color: lightblue;
	-fx-cursor: hand; 
}

#topDoctorsList .list-cell:hover{
	-fx-cursor: hand; 
	-fx-scale-x: 1.03; 
    -fx-scale-y: 1.03;
}

.combo-box .list-view .list-cell:hover,
.combo-box .list-view .list-cell:selected {
    -fx-background-color: lightblue;
}

#searchButton{
	-fx-background-color: #1A1919;
	-fx-text-fill: #FFFFFF;
	-fx-border-width: 0;
}

#submitReviewButton{
	-fx-background-color: #1A1919;
	-fx-text-fill: #FFFFFF;
	-fx-border-width: 0;
}

#recentlySeenDoctorsList .list-cell:hover {
	-fx-scale-x: 1.03; 
    -fx-scale-y: 1.03;
}

#reviewAnchorPane {
    -fx-background-color: #FFFFFF; 
    -fx-padding: 10px;
    -fx-background-radius: 5px;
}

#reviewStackPane  {
    -fx-background-color: #FAFAFE; 
}

#writeReviewStackPane {
	-fx-background-color: #FAFAFE; 
}

#scrollPane {
    -fx-background-color: transparent; 
    -fx-background: #FAFAFE; 
    -fx-border-color: transparent; 
    -fx-border-width: 0;
}

#writeRevBackButton {
    -fx-background-color: transparent;
}



